@tailwind base;
@tailwind components;
@tailwind utilities;


/* Dark Mode */
body.dark {
    --text-color: #ffffff;
    --background-color: #000000;
  }
  
  /* Light Mode */
  body {
    --text-color: #000000;
    --background-color: #ffffff;
  }
  
