/* สไตล์สำหรับปุ่ม */
.swal-login-button {
    background-color: #77bfa3; /* สีเขียว */
    color: white; /* สีข้อความ */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

